.Footer{
  color: #ffffff;
  background-color: rgb(245, 41, 41);
  font-size: 18px;
  width:100%;
  padding: 20px 0;
  margin: auto;
}
.Footer .inner{
  width: 1150px;
  margin: auto;
}
.footer_b1{
}
.footer_b1 ul{
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: space-between;
  position: relative;
  padding: 0;
}
.footer_b1 ul li{
  list-style: none;
}
.footer_b1 ul li:nth-child(3){
}
.footer_b1 ul li:nth-child(4){
}
.footer_b1 ul button{
  margin-left: 10px;
  width: 130px;
  height: 30px;
}
.footer_b1 ul li:nth-child(1){
  font-weight: 600;
}
.footer_b1 h1{
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}
.footer_b1 p:nth-child(3) a{
  margin-left: 10px;
  color:#000;
}
.footer_b1 p:nth-child(4){
  color: rgb(255, 255, 255);
}

